/* based on https://www.benmarshall.me/responsive-iframes/ */
.refusal-map-container {
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.refusal-map {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

/* prevent weird resizing on backspace after suburb selection */
#postcode-input-container, #postcode-input-container .dainput-embedded {
  max-width: 140px;
}

/*
Scrapped attempt at making postcodes dropdown be located directly attached under the input field
It worked, but didn't look good, and the browser's auto-fill dropdown got in the way

#postcode-input-container {
  position: relative;
  display: inline-block;
}

#postcodes-list {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 1;
}
*/