fieldset.person-reporting-buttons div button {
  background-color: #3305A7 !important; /*#E0782C*/
  border-color: #3305A7 !important;
}
fieldset.person-reporting-buttons div button:hover {
  background-color: #1C0359 !important; /* #5a6268 */
  border-color: #1C0359 !important;
}